<h2>Users list</h2>
<div>
    <label>First name:
        <input #firstName />
    </label>
    <label>Last name:
        <input #lastName />
    </label>
    <label>Username:
        <input #username />
    </label>
    <button (click)="add(firstName.value, lastName.value, username.value); firstName.value=''; lastName.value=''; username.value=''">
        add
    </button>
</div>

<ul class='users'>
    <li *ngFor='let user of users'>
        <span class='badge'>{{user.Id}}</span><span>{{user.UserName}}</span>
        <button class='edit' mat-button (click)="openDialog(user)" >
            <!--<a routerLink='/detail/{{user.id}}'>Edit</a>-->
            Edit
        </button>
        <button class='delete' title='delete user' (click)='deleteUser(user)'>
            X
        </button>
    </li>
</ul>

