<div mat-dialog-content>

<div *ngIf='user'>
    <h2>{{user.UserName | uppercase}} Details</h2>
    <div><span>id: </span>{{user.Id}}</div>
    <div>
        <label>firstName:
            <input [(ngModel)] = 'user.FirstName' placeholder = 'First Name'>
        </label>
    </div>
    <div>
        <label>lasName:
            <input [(ngModel)] = 'user.LastName' placeholder = 'Last Name'>
        </label>
    </div>
    <div>
        <label>username:
            <input [(ngModel)] = 'user.UserName' placeholder = 'username'>
        </label>
    </div>
    <button (click)='save()'>Save</button>
    <button (click)='onCancelClick()'>Cancel</button>
</div>

</div>